@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');

:root {
  --accent-color: #38da8c;
  --accent-color2: #2ecc71;
  --accent-color3: #27ae60;
  --primary-color: #fedd49;
  --secondary-color: #74e0e6;
  --bg-color: #1c1c27;
  --bg-color2: #464655;
  --bg-color3: #2c2c3a;
  --light-font: #fafafa;
  --dark-font: #1c1c27;
  --js-color: #f7df1e;
  --js-color-hover: #f9e64f;
  --html-color: #e34c26;
  --html-color-hover: #f16529;
  --css-color: #2965f1;
  --css-color-hover: #3581f1;
  --gl-color: #112482;
  --gl-color2: #520798;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*:not(h1, h2, h3, h4, h5, h6) {
  font-size: 20px;
}

*:not(input, button, textarea, dialog, select, option) {
  color: var(--light-font)
}


html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-family: 'Tajawal', sans-serif;
  overflow-y: scroll;
}

code {
  background-color: var(--bg-color3);
  color: var(--accent-color);
  padding: 0.1em 0.6em;
  border-radius: 5px;
  font-weight: 700;
}

video,
img {
  max-width: 100%;
  margin: 0 auto;
}

p,
li {
  line-height: 2;
}

a {
  color: var(--accent-color);
}

input {
  accent-color: var(--accent-color);
}

details {
  user-select: none;
}

dialog::backdrop {
  background-color: RGBA(0, 0, 0, .75);
}

fieldset {
  padding: 0.7em;
}

section>a {
  text-decoration: none;
}

.sidebar {
  width: 15%;
  height: 100%;
  background-color: var(--bg-color2);
  min-height: 100vh;
  position: fixed;
}

.nav-header {
  margin-top: 0;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(180deg, var(--gl-color), var(--gl-color2));
  border-bottom: 2px dashed white;
}

.nav-title {
  text-align: center;
}

.index-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: calc(100vh - 7rem);
}

.index-nav>a {
  text-decoration: none;
  color: var(--light-font);
  height: 25%;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: grid;
  place-items: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.index-nav #html-option {
  background-color: var(--html-color);
}

.index-nav #html-option:is(:hover) {
  background-color: var(--html-color-hover);
}

.index-nav #css-option {
  background-color: var(--css-color);
}

.index-nav #css-option:is(:hover) {
  background-color: var(--css-color-hover);
}

.index-nav #js-option {
  background-color: var(--js-color);
}

.index-nav #js-option:is(:hover) {
  background-color: var(--js-color-hover);
}

.sub-nav--html,
.sub-nav--css,
.sub-nav--js {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: calc(100vh - 7rem);
}

.sub-nav--html>a,
.sub-nav--css>a,
.sub-nav--js>a {
  text-decoration: none;
  /* transition: all 0.3s ease; */
  flex: 1;
  max-height: 100px;
  width: 100%;
  display: grid;
  place-items: center;
  font-weight: 700;
  text-transform: uppercase;
}

.sub-nav--html>a:is(:hover):not(.active) {
  background-color: var(--html-color-hover);
}

.sub-nav--css>a:is(:hover):not(.active) {
  background-color: var(--css-color-hover);
}

.sub-nav--js>a:is(:hover):not(.active) {
  background-color: var(--js-color-hover);
}

.hidden {
  display: none;
}

.main {
  position: absolute;
  width: 85%;
  background-color: rgb(37, 37, 37);
  margin-left: 15%;
  min-height: 100vh;
}

.container {
  margin: 2em 1em;
  background-color: var(--bg-color2);
  display: flex;
  flex-direction: column;
  gap: 0em;
  border-radius: 5px;
  min-height: calc(100vh - 4em);
}

.page-title {
  font-size: 3rem;
  font-weight: 600;
  color: var(--accent-color);
  text-align: center;
  margin-top: 0.3em;
}

.section {
  margin: 1em;
  padding: 1em;
  background-color: var(--bg-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-title {
  color: var(--primary-color);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.section-subtitle {
  color: var(--secondary-color);
  margin: 0.7rem 0;
}

.tag-name {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.headings {
  display: inline-block;
  margin-left: 1rem;
}

.media-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.indent {
  margin-left: 50px;
}

.sub-nav--html {
  background-color: var(--html-color);
}

.sub-nav--css {
  background-color: var(--css-color);
}

.sub-nav--js {
  background-color: var(--js-color);
}


.sub-nav--html>*,
.sub-nav--css>*,
.sub-nav--js>* {
  color: var(--light-font)
}

a:has(.gl-logo) {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.gl-logo {
  object-fit: cover;
}

.active {
  background-color: white;
  color: black;
  width: 100%;
  /* padding: 0.3em 0; */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color2);
}

::-webkit-scrollbar-thumb:active {
  background: var(--accent-color3);
}

.banner-container {
  display: grid;
  place-items: center;
}

.landing-title {
  position: absolute;
  font-size: 5rem;
  color: white;
  line-height: 1.2;
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
}

/* media queries for notebooks and netbooks */
@media (max-width: 1024px) {
  .nav-header {
    margin-top: 0;
    height: 5rem;
  }

  a:has(.gl-logo) {
    width: 40px;
    height: 40px;
  }

  .nav-title {
    font-size: 0.8rem;
  }

  .index-nav {
    height: calc(100vh - 5rem);
  }

  .index-nav>a {
    font-size: 1rem;
  }

  .sub-nav--html,
  .sub-nav--css,
  .sub-nav--js {
    height: calc(100vh - 5rem);
  }

  .sub-nav--html>a,
  .sub-nav--css>a,
  .sub-nav--js>a {
    font-size: 0.7rem;
  }

  .landing-title {
    font-size: 3rem;
  }
}